body{
    color:blue;
    background: url(https://i.pinimg.com/originals/75/f4/8d/75f48d911c1871d82558797d341bb228.jpg) center center no-repeat fixed;
    background-size: cover;
}
.cont{
    opacity: .7;
}
.cont:hover{
    opacity: .9;
}